// Colors
$color-white: #fff;
$color-black: #000;

$color-bg: #fff;

$color-transperent: rgba(255, 255, 255, 0);
$color-white-transperent: rgba(255, 255, 255, 0.6);
$color-black-transperent: rgba(0, 0, 0, 0.6);

$color-main: #fe724c;
$color-gray: #bebebe;
$color-gray-light: #eeeeee;
$color-gray-dark: #5b5b5e;
$color-yellow: #ffc529;
